* {
  font-family: monospace;
}

:root {
  font-size: 16px;
}

html,
body {
  height: 100%;
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  min-height: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "image intro-text"
    "image form-row"
    "image submit-row";
}

.image-column {
  grid-area: image;
  background-image: url(east-side-nyc.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.intro-text,
.form-row,
.submit-row {
  margin-inline: 5%;
  padding-block: 2rem;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
}

.intro-text {
  grid-area: intro-text;

  justify-content: flex-end;
}
@media (width <= 860px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 10rem auto auto 10rem;
    grid-template-areas:
      "image"
      "intro-text"
      "form-row"
      "submit-row";
  }
  .intro-text {
    justify-content: center;
  }
}
@media (width < 600px) {
  .intro-text,
  .form-row {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.intro-text p {
  max-width: 80ch;
}

.form-row {
  grid-area: form-row;

  justify-content: center;
}

#form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 16px;
  padding-right: 4rem;
}
@media (width < 600px) {
  #form-container {
    grid-template-columns: 1fr;
    padding-right: 0;
  }
  .submit-row * {
    margin-inline: auto;
  }
}

.submit-row {
  grid-area: submit-row;
}

.submit-row button {
  padding: 10px 20px;
  background-color: #ffffffb9;
  color: rgb(0, 0, 0);
  border: 1px solid;
  cursor: pointer;
  width: min(10rem, 200px);
}
