* {
  font-family: monospace;
}

:root {
  font-size: 16px;
}

html,
body {
  height: 100%;
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  min-height: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "image intro-text"
    "image form-row"
    "image submit-row";
}

@media (width <= 860px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr;
    grid-template-areas:
      "image"
      "intro-text"
      "form-row"
      "submit-row";
  }
}

.intro-text,
.form-row,
.submit-row {
  border-bottom: 1px black solid;
}

.image-column {
  grid-area: image;
  background-image: url(/east-side-nyc.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.intro-text {
  grid-area: intro-text;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: min(90%, 800px);
  padding: 4em;
}

.form-row {
  grid-area: form-row;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 4em;
}

#form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 16px;
}
@media (width < 600px) {
  #form-container {
    grid-template-columns: 1fr;
  }
}

.submit-row {
  grid-area: submit-row;
  padding: 4em;
}

.submit-row button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
